<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E5139972280C63E600F2589C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5139988280C63E800F2589C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5139992280C63E800F2589C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5BCA5452827CEF9000E84A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
